.flex_container {
    display: flex;
    flex-direction: row; /* Make sure it's horizontal */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Centers the items vertically */
    background-color: white;
    padding: 20px;
}

.box {
    display: inline-block; /* Ensures that the boxes are displayed inline */
    background-color: white;
    color: #324755;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    text-decoration: none; /* Removes the default underline for anchor tags */
}

.box:hover {
    background-color: #f0f0f0; /* Change background color on hover */
}