@use "variables" as var;

body {
  --bodyBackgroundColor: var(--secondary-ice);
  --textColor: var(--primary-drab);
}

body.darkmode {
  --bodyBackgroundColor: var(--primary-drab);
  --textColor: var(--secondary-sand);
}

@mixin transition($var) {
  transition: $var 800ms ease;
}

body {
  background-color: var(--bodyBackgroundColor);
  @include transition((background-color));
  color: var(--textColor);
}
