@use "variables" as var;

.main__settings {
  //   background-color: var.$secondary-fossil;
  ul,
  li {
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: --secondary-ice;
  }
}

.manage {
  color: --primary-sage;
}

.categories {
  color: --primary-drab;
}

.settings__manage_category {
  text-align: center;
}
