// Primary colors:
$primary-sage: #87BCBF;
$primary-rust: #D97D54;
$primary-drab: #324755;
$primary-danger: #D95454;

// Secondary colors:
$secondary-ice: #F0F3F4;
$secondary-fossil: #C8D1D3;
$secondary-sand: #B9B0A2;

// Typography colors:
$typography-onyx: #1B1C20;
$typography-slate: #6E8CA0;
$typography-snow: #FFFFFF;

// Fonts
$font-primary: "europa", sans-serif;
$font-secondary: "rift-soft", sans-serif;



