// Primary colors:
:root {
  --primary-sage: #87bcbf;
  --primary-rust: #d97d54;
  --primary-drab: #324755;
  --primary-danger: #d95454;
}

// Secondary colors:
:root {
  --secondary-ice: #f0f3f4;
  --secondary-fossil: #c8d1d3;
  --secondary-sand: #b9b0a2;
}

// Typography colors:
:root {
  --typography-onyx: #1b1c20;
  --typography-slate: #6e8ca0;
  --typography-snow: #ffffff;
}

// Fonts
$font-primary: "europa", sans-serif;
$font-secondary: "rift-soft", sans-serif;
